.produit{
    border: solid;
    border-radius: var(--radiusNormal);
    width: 200px;
    margin: var(--espaceNormal);
    padding: var(--espaceNormal);
    text-align: center;
    position: relative;
}

.imageProduit{
    height: 160px;
    width: 120px;
    margin: auto;
}

.nomProduit{
    font-size: var(--sizeImportant);
    font-weight: 500;
    margin-bottom: var(--espaceMin);
}

.quantiteProduit{
    width: 50px;
    margin: var(--espaceNormal) auto;
}

.coche{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    background: var(--bgMain);
}