footer{
    margin-top: 150px;
    background-color: #f5f5f5;
    padding: var(--espaceGrand);
}

.createurs{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    margin: auto;
}

.photoCreateur{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.nomCreateur{
    margin-top: var(--espacePetit);
}

@media all and (max-width: 900px){

    footer{
        width: 1100px;
    }
}

@media all and (max-width: 450px){

    footer{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .photoCreateur{
        width: 80px;
        height: 80px;
    }

    .createurs{
        flex-wrap: wrap;
    }

    .createur{
        margin: var(--espaceNormal);
    }
}