footer{
    margin-top: 150px;
    background-color: #f5f5f5;
    padding: var(--espaceGrand);
}

.createurs{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 80%;
    margin: auto;
}

.photoCreateur{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.nomCreateur{
    margin-top: var(--espacePetit);
}