.navbar-container {
    display: flex;
    align-items: center;
    width: 100vw;
}
.navbar-logo-container {
    width: 20vw;
    position: relative;
}

.navbar-link-container {
    width: 60vw;
    display: flex;
    margin-left: 20vw;
    align-items: center;
    justify-content: space-around;
}

button,
a.button {
    border: none;
    background-color: unset;
    color: #1b3044;
    font-family: "Comfortaa", cursive;
    transition: all 0.1s ease-in-out;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    /* box-shadow: 2px 0px 5px 1px rgba(0, 0, 0, 0.3); */
}

button:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
button:hover {
    cursor: pointer;
}

.navbar-logo {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}
.navbar-app-name {
    font-size: 35px;
    font-family: "Comfortaa bold", cursive;
    color: #1b3044;
    margin-top: 35px;
}
.navbar-logo-container:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 569px;
    top: -260px;
    left: -20px;
    z-index: -1;
    background-repeat: no-repeat;
    object-fit: cover;
    transform: rotate(250deg);
    background-size: 346px 500px;
    background-image: url("../Assets/images/bitmap.png");
}
.navbar-logo-container {
    display: flex;
}

.navbar-link-container button,
.navbar-link-container a {
    font-size: 20px;
    width: 150px;
    padding: 10px;
}

.blob-top {
    max-width: 185px;
    height: auto;
    position: fixed;
    top: -110px;
    left: -20px;
    transform: rotate(250deg);
}

.button-blue {
    background-color: #1b3044 !important;
    border-radius: 20px;
    color: white !important;
    width: 150px;
}

.home-intro-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 100px;
    width: 100vw;
    left: 0px;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #1b3044;
    width: 55vw;
    left: 0px;
}

.home-phone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    position: relative;
    animation: enterFade 1s ease;
}

@keyframes enterFade {
    from {
        opacity: 0;
        transform: translateY(-300px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-phone {
    position: relative;
    overflow: hidden;
    width: 360px;
    background-color: white;
    height: 700px;
    border: 10px solid #1b3044;
    border-radius: 35px;
    box-shadow: 18px 0px 30px -3px rgba(0, 0, 0, 0.3);
}

.home-phone img {
    width: 360px;
    height: 700px;
    border-radius: 25px;
}

.fade-animation {
    /* transition: all 0.5s ease; */
    position: absolute;
}

@keyframes fadeIn {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-500px);
        opacity: 0;
    }
}

.home-phone-container::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 600px;
    bottom: -160px;
    left: -75px;
    z-index: -1;
    height: 200px;
    background-image: url("../Assets/images/ellipse.png");
}

.home-phone::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #1b3044;
}

.home-text-container h1 {
    font-size: 40px;
    margin: 5vw;
    line-height: 50px;
    letter-spacing: 1px;
}

.home-text-container button {
    font-size: 20px;
    width: 200px;
    padding: 15px;
    border-radius: 25px;
}

.home-text-container ul {
    text-align: left;
    margin-top: 50px;
    font-size: 22px;
}

@keyframes appearFade {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.home-text-container li:nth-child(1) {
    opacity: 0;
    animation: 1s ease 1s normal forwards 1 appearFade;
}
.home-text-container li:nth-child(2) {
    opacity: 0;
    animation: 1s ease 1.1s normal forwards 1 appearFade;
}
.home-text-container li:nth-child(3) {
    opacity: 0;
    animation: 1s ease 1.2s normal forwards 1 appearFade;
}

.home-text-container li {
    list-style-type: none;
    margin: 0;
    margin-top: 20px;
    padding: 0px 0px 20px 54px;
    vertical-align: middle;
    background-position: 0px -4px;
    background: url("../Assets/images/checked.png") no-repeat 7px 7px;
}

.home-text-container li::marker {
    margin-top: 20px;
}

@media (max-width: 900px) {
    .home-intro-container {
        flex-direction: column;
    }

    .home-text-container {
        width: unset;
        margin-bottom: 50px;
    }
}

@media (max-width: 550px) {
    .home-text-container h1 {
        font-size: 25px;
    }
    .homepage-container {
        overflow: hidden;
    }

    .home-text-container ul {
        font-size: 15px;
    }

    .navbar-logo-container:after {
        content: "";
        position: absolute;
        width: 150px;
        height: 285px;
        top: -129px;
        left: 2px;
        z-index: -1;
        background-repeat: no-repeat;
        object-fit: cover;
        transform: rotate(250deg);
        background-size: 173px 250px;
    }

    .navbar-logo {
        width: 40px;
        margin-top: 10px;
    }
    .navbar-app-name {
        font-size: 20px;
        margin-top: 15px;
    }

    .navbar-logo-container {
        position: unset;
    }

    .home-phone {
        position: relative;
        overflow: hidden;
        width: 280px;
        background-color: white;
        height: 540px;
        border: 9px solid #1b3044;
        border-radius: 35px;
        box-shadow: 18px 0px 30px -3px rgba(0, 0, 0, 0.3);
    }

    .home-phone img {
        width: 280px;
        height: 540px;
        border-radius: 20px;
    }
}

.burger-icon {
    position: fixed;
    top: 0px;
    right: 40px;
    z-index: 99;
}

.sliding-menu-container {
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    z-index: 98;
    transition: all 0.5s ease;
    box-shadow: -10px 0px 30px 10px rgba(0, 0, 0, 0.3);
}

.menu-visible {
    animation: menuEnter 0.5s ease;
    transform: translateX(00px);
}

.menu-hidden {
    animation: menuLeave 0.5s ease;
    transform: translateX(500px);
}

@keyframes menuEnter {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes menuLeave {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(500px);
    }
}

.sliding-menu-items {
    position: relative;
    top: 25vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sliding-menu-items button {
    font-size: 25px !important;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.sliding-menu-logo {
    position: absolute;
    bottom: 5vh;
    width: 20vw;
    left: calc(50% - 10vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.video-container h2 {
    font-size: 40px;
    color: white;
    font-weight: 100;
    margin-left: 10vw;
    margin-bottom: 80px;
}

.video-container {
    height: 750px;
    margin-top: -50px;
    background-size: 100% 100vw;
    background-repeat: no-repeat;
    padding-top: 28vw;
    background-image: url("../Assets/images/background.svg");
    object-fit: cover;
}

.video {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
}

.video::after {
    content: "";
    position: absolute;
    top: 20px;
    z-index: -1;
    width: 40vw;
    height: 25vw;
    min-width: 400px;
    min-height: 300px;
    max-width: 600px;
    max-height: 450px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #1b3044;
    border-radius: 30px;
}

.video-frame-container {
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    /* align-items: center; */
}

.video-wrapper {
    /* width: 40vw; */
}

.text-video-wrapper {
    padding-left: 50px;
    height: 100%;
    margin-bottom: 100px;
}

.text-video-wrapper h3 {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.text-video-wrapper p {
    font-size: 15px;
    margin-bottom: 50px;
    /* font-family: cursive; */
}

@media (max-width: 1200px) {
    .video-container {
        object-fit: cover;
        background-size: unset;
        padding-top: 15vw;
    }
}

@media (max-width: 1000px) {
    .video-frame-container {
        flex-direction: column;
        /* align-items: center; */
    }
    .video-container {
        height: unset;
        background-color: #78be95;
        margin-top: 100px;
    }
    .video-wrapper {
        width: unset;
    }

    .video div {
        width: unset !important;
    }
}

@media (max-width: 1250px) and (min-width: 1000px) {
    .video div {
        width: 400px !important;
    }
}

@media (max-width: 450px) {
    .video-container h2 {
        font-size: 30px;
        color: white;
        margin-left: 0px;
        margin-bottom: 80px;
        text-align: center;
        padding: 20px;
    }
}

/*** BLOCKCHAIN ***/
.blockchain-container {
    width: 100vw;
    margin-top: 50px;
}

.blockchain-container h2 {
    font-size: 40px;
    color: #1b3044;
    margin-left: 10vw;
    font-weight: 100;
    z-index: 50;
}

.blockchain-wrapper {
    display: flex;
    /* align-items: center; */
}

.blockchain-left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.blockchain-right {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockchain-right img {
    width: 100%;
    margin-top: 50px;
}

.blockchain-text-wrapper {
    margin-left: 10vw;
    margin-top: 100px;
}

.blockchain-text-wrapper p {
    margin-bottom: 80px;
}

@media (max-width: 800px) {
    .blockchain-container h2 {
        text-align: center;
        font-size: 30px;
        margin-left: 0px;
    }

    .blockchain-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .blockchain-text-wrapper {
        margin-left: 0px;
        margin-top: 50px;
    }

    .blockchain-right {
        width: 100vw;
        margin-top: 0px;
    }
}

.blockchain-left .button-blue {
    width: 200px;
    margin-left: calc(25vw - 200px);
    background-color: #1b3044 !important;
    color: white !important;
}

.footer-container {
    width: 100vw;
    background-color: black;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.footer-container a {
    text-decoration: none;
    color: white !important;
}

@media (min-width: 1250px) {
    p {
        font-size: 20px !important;
    }

    h3 {
        font-size: 25px !important;
    }
    .blockchain-container {
        margin-top: 150px;
    }

    .blockchain-right img {
        margin-top: 50px;
    }

    .video {
        margin-top: 40px;
    }
}

.team-container {
    text-align: center;
}

.team-container h2 {
    font-size: 40px;
}

.members-container {
    width: 65%;
    display: flex;
    margin: 30px auto 0px auto;
    flex-wrap: wrap;
}

.member {
    flex: 33%;
}

.member img {
    width: 55%;
    min-width: 120px;
}

@media (max-width: 750px) {
    .team-container h2 {
        margin-top: 70px;
    }
    .member {
        flex: 50%;
        font-size: 12px;
    }

    .member img {
        min-width: 100px;
    }
}

.bigger img {
    border-radius: 100px;
    width: 49%;
    margin: 3%;
}
