:root {
  /* --bgMain: #f8f6f430; */
  --bgMain: #fcfbfb;
  --vert: #4ea994;
  --vertHover: #479b88;
  --white: white;
  --bleu: #2c363f;
  --bleu2: #03546d;

  --espaceMin: 5px;
  --espacePetit: 10px;
  --espaceNormal: 15px;
  --espaceIntermediaire: 25px;
  --espaceGrand: 50px;
  --espaceMax: 100px;

  --radiusMin: 5px;
  --radiusNormal: 10px;
  --radiusMax: 25px;

  --sizeImportant: 20px;
  --sizeH1Mobile: 27px;
  --sizeNormal: 18px;
}

body{
  background-color: var(--bgMain);
}

.App {
  min-height: 100vh;
  color: var(--bleu);
}

h1{
  margin-top: var(--espaceMax);
  text-align: center;
}

.subtitle{
  font-size: var(--sizeImportant);
  width: 80%;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: var(--espaceGrand);
  text-align: center;
}

#mainContener{
  width: 1200px;
  margin: auto;
}

#nosProduits{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxButtons{
  margin: var(--espaceGrand) 0;
  display: flex;
  justify-content: center;
}

button{
  background-color: var(--vert);
  color: var(--white);
  border: none;
  padding: var(--espaceNormal) var(--espaceGrand);
  font-size: var(--sizeImportant);
  border-radius: var(--radiusNormal);
  margin-left: var(--espaceNormal);
  margin-right: var(--espaceNormal);
  cursor: pointer;
}

button:hover{
  background-color: var(--vertHover);
}

input[type=text]{
  font-size: var(--sizeImportant);
  padding: var(--espacePetit) var(--espaceNormal) var(--espacePetit) var(--espaceGrand);
  display: block;
  margin: 0 auto;
  width: 500px;
  border-radius: var(--radiusNormal);
  border-width: 1.5px;
}

.iconForm{
  position: relative;
  top: 39px;
  left: -255px;
}

a{
  cursor: pointer;
  color: var(--vert);
  text-decoration: none;
  font-weight: 500;
}

a:hover{
  text-decoration: underline;
}

@media all and (max-width: 450px){

  #mainContener{
    padding-top: var(--espaceIntermediaire);
    width: 95%;
    margin: auto;
  }

  h1{
    margin: var(--espaceGrand) auto var(--espaceIntermediaire);;
    text-align: center;
    font-size: var(--sizeH1Mobile);
    width: 90%;
    display: block;
  }

  .subtitle{
    width: 90%;
    margin: auto;
    margin-bottom: var(--espaceGrand);
  }

  input[type=text]{
    font-size: var(--sizeNormal);
    width: 75%;
    padding: var(--espacePetit) var(--espaceNormal);
    margin: var(--espaceNormal) auto;
  }

  button{
    margin-bottom: var(--espaceNormal);
  }

  .boxButtons{
    margin: var(--espaceGrand) 0;
    flex-wrap: wrap-reverse;
  }

  .iconForm{
    display: none;
  }
}